.exercise-card {
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
  background-color: rgba(2,1,1,.95);
  transform: skewX(-3deg);
  border-radius: 5px;
  transition: all .2s ease-out;
  text-align: center;
}

.exercise-card:hover {
  transform: skewX(-3deg) scale(1.02);
  box-shadow: 4px 4px var(--main-color);
}

.exercise-card_content img {
  transform: skewX(3deg);
  position: relative;
  width: 100%;
  height: auto;
  transform: scale(1.07);
}

.exercise-card_content p {
  margin-top: 15px;
  font-family: var(--font-subtitle);
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .05em;
  color: white;
  height: 50px;
}

.exercise-card_content-chips {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
}

.exercise-card_content-chips_chip {
  flex: 1;
  padding: .4em 0;
  color: var(--main-color);
  background-color: var(--bg-color-1);
  border-radius: 5px;
  border: 3px solid var(--main-color);
  
  font-family: var(--font-body);
  font-size: .9em;
  text-transform: uppercase;
}


.image-skel {
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 1366px) {
  .exercise-card {
    grid-column: span 3;
  }

  .exercise-card:nth-child(6) {
    grid-column: 2 / span 3;
  }
}