.calculators-page {
  width: 100%;
  min-height: 107vh;
  background-image: var(--bg-gradient-1);
}

.calculator-page_selection {
  max-width: 500px;
  margin: 0 auto;
  padding: 125px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-page_selection h1 {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 52px;
  line-height: 100%;
  text-transform: uppercase;
  /* identical to box height, or 64px */

  color: var(--main-color);
}

.calculator-page_selection-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 15px;
  padding: 0 10px;
  /* text-align: center; */

}

.calculator-page_selection button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-color-1);
  border: 3px solid var(--main-color);

  font-family: var(--font-subtitle);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  /* identical to box height, or 64px */

  color: var(--main-color);

  transition: all .2s ease-out;
}

.calculator-page_selection button:hover {
  background-color: var(--main-color);
  color: var(--bg-color-1);
}

.calculator-page_selection-btns-btn_icon {
  display: flex;
  
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: var(--bg-color-1);
  background-color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .calculator-page_selection {
    max-width: 700px;
  }
  .calculator-page_selection-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }  
}

@media screen and (min-width: 1024px) {
  .calculator-page_selection {
    max-width: 1300px;
  }

  .calculator-page_selection-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* .calculator-page_selection-btns_btn {
    flex: 1;
  } */

  
}