.hero-section {
  position: relative;
  background-image: 
    radial-gradient(
      circle at top, 
      var(--bg-color-1) 30%, 
      var(--bg-color-2) 75%);

  height: 60vh;
}

.hero-container {
  padding-top: 15vh;
  position: relative;
}

.hero-card {
  position: relative;
  z-index: 10;

  width: 85vw;
  max-width: 350px;
  margin: 0 auto;
}

.hero-card_content {
  padding: 20px;
  background-color: rgba(2,1,1,.95);
  box-shadow: 3px 3px 20px 5px rgba(2,1,1,.9);
  border-bottom-right-radius: 20px;
  backdrop-filter: blur(3px);
}


.hero-card_bg {
  position: absolute;
  z-index: -10;
  bottom: -30px;
  left: 0;
  width: 125%;
  max-width: 640px;
  aspect-ratio: 2 / 1.15; 
}

.hero-card_bg-img {
  width: 100%;
  height: auto;
}


.hero-card h1 {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;

  text-transform: uppercase;

  color: var(--main-color);
}

.hero-card p {
  margin: 20px 0;

  font-family: var(--font-subtitle);
  font-weight: 800;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.hero-card_btns {
  display: flex;
  gap: 10px;
}

.hero-section_detail {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: -257px;
  min-width: 1920px;
} 

.hero-section_detail-img {
  width: 100%;
  height: auto;
}

.content-section {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 120px 0;
  gap: 50px;
}

.section-1 {
  background-color: white;
}

.section-2 {
  background-image: radial-gradient(
    circle at bottom, 
    var(--bg-color-1) 30%, 
    var(--bg-color-2) 75%);

  padding-bottom: 300px;
}

.section-1::before,
.section-2::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 150px;
  background-color: var(--main-color);
}

.section-1::before{
  bottom: 500px;
  transform: rotate(65deg)
}

.section-2::before{
  bottom: 675px;
  transform: rotate(-65deg)
}

.content-section_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 300px;
  height: 425px;
  /* color: var(--bg-color-1); */

  transform: skewX(-3deg);
  border-radius: 5px;
}

.content-section_card:nth-child(2) {
  gap: 20px;
}

.content-section_card h3 {
  display: flex;
  align-items: center;

  font-family: var(--font-subtitle);
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
 
}

.content-section_card > p {
  margin: 15px 0;

  font-family: var(--font-body);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.pullup::before,
.tape::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  transform: skewX(3deg) scale(1.1);
}

.pullup {
  background-image: url('../../assets/pullup.png');
  background-position: center;
}

.tape {
  background-image: url('../../assets/measuringtape.png');
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .hero-section {
    height: 78vh;
  }
  
  .hero-card {
    max-width: 530px;
  }
  
  .hero-card h1 {
    font-size: 64px;
    line-height: 100%;
  }

  .hero-card p {
    line-height: 34px;
    font-size: 24px;
  }

  .hero-card_btns {
    gap: 25px;
  }

  .btn {
    font-size: 1em;
    padding: .6em 0;
  }

  .hero-card_content {
    padding: 50px 20px;
  }

  .hero-card_bg {
    bottom: -55px;
  }

  .content-section {
    flex-direction: row;
    justify-content: center;
  }
  
  .section-2 {
    flex-direction: row-reverse;
  }

  .section-1::before{
    bottom: 200px;
    transform: translate(150px, -25px) rotate(-30deg)
  }
  
  .section-2::before{
    bottom: 375px;
    transform: translate(-150px, -50px) rotate(30deg)
  }
}

@media screen and (min-width: 1366px) {
  .hero-container {
    margin-left: 40vw;
    max-width: 900px;
  }

  .hero-section::after {
    content: '';
    position: absolute;
    bottom: -89px;
    left: 10vw;
    background-image: url('../../assets/hero-man.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 725px;
    height: 750px;
  }

  .hero-section::before {
    content: '';
    position: absolute;
    bottom: 375px;
    left: 30vw;
    width: 225px;
    height: 225px;
    border-radius: 5px;
    background-color: var(--main-color);
  }
}

@media screen and (min-width: 1920px) {
  .hero-section::after {
    left: 15vw;
  }
}




