/* $primary-color: #ED9D06;
$bg-color-1: #020101;
$bg-color-2: #262423;

$font-header: 'East Sea Dokdo';
$font-subtitle: 'Coda';
$font-body: 'Fira Sans'; */

/* $bps: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1366px,
  '2xl: 1920px
); */

 :root {
    --main-color: #ED9D06;
    --bg-color-1: #020101;
    --bg-color-2: #262423;
    --bg-gradient-1: 
      radial-gradient(
        circle at top, 
        var(--bg-color-1) 30%, 
        var(--bg-color-2) 75%);

    --font-header: 'East Sea Dokdo';
    --font-subtitle: 'Coda';
    --font-body: 'Fira Sans'; 

    font-family: var(--font-body); 
 }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  background-color: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
  background-color: gray;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.calculator-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  max-width: 500px;
  padding: 0 20px 200px;
  margin: 0 auto;
}

.calculator-container_info {
  flex: 2;
}

.calculator {
  flex: 1;
  background-color: var(--bg-color-1);
  transform: skewX(-3deg);
  border-radius: 5px;
  padding: 20px;
}

.calculator p {
  color: white;
}

.calculator form {
  transform: skewX(3deg);
}

.calculator label {
  font-family: var(--font-subtitle);
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  color: #ED9D06;
  
}

.calculator input,
.calculator select {
  width: 200px;
  margin-bottom: 15px;
  padding: 5px;
  display: block;
  background: #FFFFFF;
  border-radius: 5px;
}

.calculator button {
  outline: none;
  border: none;
  color: var(--bg-color-1);
  background-color: var(--main-color);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  transition: color .2s ease-out, background-color .2s ease-out;
}

.calculator button:hover {
  color: var(--main-color);
  background-color: var(--bg-color-1);
  outline: 3px solid var(--main-color);
}

.calculator-results {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator-results p:last-child {
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and ( min-width: 768px ) {
  .calculator-container {
    max-width: 700px;
  }
}

@media screen and ( min-width: 1024px ) {
  .calculator-container {
    max-width: 1300px;
    flex-direction: row;
  }
}