/* $primary-color: #ED9D06;
$bg-color-1: #020101;
$bg-color-2: #262423;

$font-header: 'East Sea Dokdo';
$font-subtitle: 'Coda';
$font-body: 'Fira Sans'; */

/* $bps: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1366px,
  '2xl: 1920px
); */

 :root {
    --main-color: #ED9D06;
    --bg-color-1: #020101;
    --bg-color-2: #262423;

    --font-header: 'East Sea Dokdo';
    --font-subtitle: 'Coda';
    --font-body: 'Fira Sans'; 

    font-family: var(--font-body); 
 }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  background-color: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
  background-color: gray;
}
