/* $primary-color: #ED9D06;
$bg-color-1: #020101;
$bg-color-2: #262423;

$font-header: 'East Sea Dokdo';
$font-subtitle: 'Coda';
$font-body: 'Fira Sans'; */

/* $bps: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1366px,
  '2xl: 1920px
); */

 :root {
    --main-color: #ED9D06;
    --bg-color-1: #020101;
    --bg-color-2: #262423;
    --bg-gradient-1: 
      radial-gradient(
        circle at top, 
        var(--bg-color-1) 30%, 
        var(--bg-color-2) 75%);

    --font-header: 'East Sea Dokdo';
    --font-subtitle: 'Coda';
    --font-body: 'Fira Sans'; 

    font-family: var(--font-body); 
 }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  background-color: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
  background-color: gray;
}

body {
  overflow: hidden;
}

.calculator-container {
  display: flex;
  flex-direction: column-reverse;
  max-width: 500px;
  padding: 0 10px;
  margin: 0 auto;
}

.calculator {
  background-color: var(--bg-color-1);
  transform: skewX(-3deg);
  border-radius: 5px;
  padding: 10px;
}

.calculator form {
  transform: skewX(3deg);
}

.calculator label {
  font-family: var(--font-subtitle);
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  color: #ED9D06;
  
}

.calculator input {
  display: block;
  background: #FFFFFF;
  border-radius: 5px;
}

@media screen and ( min-width: 768px ) {
  .calculator-container {
    max-width: 700px;
  }
}

@media screen and ( min-width: 1024px ) {
  .calculator-container {
    max-width: 1300px;
    flex-direction: row;
  }
}